/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	.container {
		padding: 0 30px;
	}	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	
}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.what-we-do-area div[class^=col-]:nth-child(1) .single-wwd,
	.what-we-do-area div[class^=col-]:nth-child(2) .single-wwd {
		margin-bottom: 120px;
	}

	.single-team-member {
		margin-bottom: 45px;
	}
}
 
/* small mobile :320px. */
@media (max-width: 767px) {
	.hero-text h2 {
		font-size: 40px;
		font-weight: 300;
		margin-bottom: 45px;
	}
	.hero-text p {
		font-size: 15px;
		margin-bottom: 40px;
	}
	.intro-video {
		display: none;
	}
	.what-we-do-area {
		padding-top: 150px;
	}
	.single-wwd {
		margin: 15px 5px;
		margin-top: 15px;
	}
	.single-counter {
		margin-bottom: 60px;
	}
	.counter-area div[class^=col-]:last-child .single-counter {
		margin-bottom: 0;
	}
	h2.content-title {
		font-size: 32px;
	}
	.feature-content .app-btn {
		margin: 7px 0;
	}
	.testimonial-area {
		height: 700px;
	}
	.testimonial-client {
		width: 100%;
	}
	.testimonial-carousel .owl-dots {
		display: none;
	}
	.area-title {
		 padding: 0 0; 
	}
	.area-title p {
		padding: 0 0;
	}

	.single-team-member {
		margin-bottom: 55px;
	}

	.team-area div[class^=col-]:last-child .single-team-member {
		margin-bottom: 0;
	}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}