/*
  Theme Name: Appify - Html5 App Landing Template
  Author: marufsakhawat@gmail.com
  Support: marufsakhawat@gmail.com
  Description: HTML5 Construction template
  Version: 1.0
*/

/* CSS Index 
-----------------------------------
1.
2.
3.
*/

/* 1. Base css start */
/*
font-family: 'Nunito', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;600&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.95;
    letter-spacing: 1px;
    color: #555;
    overflow-x: hidden;
}

a,
button {
    color: #37d5a8;
    outline: medium none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: #333;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    color: #101010;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 300;
    text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .4px;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

*::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #777;
    font-size: 14px;
    opacity: 1;
}

.container-fluid {
    padding: 0 30px !important;
}

/*section {
    border-bottom: 1px solid #D3D3D3;
}*/

.owl-item img {
    width: auto;
}

/*for section-padding start*/
.pd-t-150 {
    padding-top: 150px;
}

.pd-t-120 {
    padding-top: 120px;
}

.pd-t-100 {
    padding-top: 100px;
}

.pd-tb-150 {
    padding: 150px 0;
    /*border-bottom: 1px solid #c5c5c5;*/
}

.pd-tb-120 {
    padding: 120px 0;
    /*border-bottom: 1px solid #c5c5c5;*/
}

.pd-tb-100 {
    padding: 100px 0;
    /*border-bottom: 1px solid #c5c5c5;*/
}

.pd-tb-80 {
    padding: 80px 0;
    /*border-bottom: 1px solid #c5c5c5;*/
}

.pd-b-150 {
    padding-bottom: 150px;
}

.pd-b-120 {
    padding-bottom: 120px;
}

.pd-b-100 {
    padding-bottom: 100px;
}
.pd-b-150 {
    padding-bottom: 150px;
}

/*for section-padding end*/

/*for background-image start*/
.bg-img {
    background-position: center center;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
}

.bg-img-tl {
    background-position: top left;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
}

.bg-img-tr {
    background-position: top right;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
}

/*for background-image end*/

/*blue-overlay start*/
.blue-overlay {
    position: relative;
}

.blue-overlay:before {
    background: #3264f5 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: .92;
    position: absolute;
    top: 0;
    width: 100%;
}

/*blue-overlay end*/

/*black-overlay start*/
.black-overlay {
    position: relative
}

.black-overlay:before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: .9;
    position: absolute;
    top: 0;
    width: 100%;
}

/*black-overlay end*/

/*gray-background start*/
.gray-bg {
    background-color: #F5F5FF;
}

.bg-gradient {
    background-image: linear-gradient(to left, #000046 , #000000);
}

.bg-gradient-rs {
    background-image: linear-gradient(to left, #000000 , #000046);
}

.overlay-gradient {
    position: relative;
}
.overlay-gradient:before {
    background-image: linear-gradient(to left, #3264f5, #4a54e8, #5b42db, #682ccb, #7202bb) !important;
    content: "";
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
}
/*gray-background end*/

/*area-title start*/
.area-title {
    margin-bottom: 100px;
    padding: 0 75px;
}

.area-title h5 {
    font-weight: 200;
    color: #FF4181;
    line-height: 1;
    margin-bottom: 18px;
    font-size: 20px;
}

.area-title h2 {
    font-size: 45px;
    margin-bottom: 0;
    line-height: 1;
    color: #000046;
}
.area-title p {
    margin-top: 30px;
    color: #777;
    padding: 0 25px;
    font-size: 15px;
}
.bg-gradient .area-title h5 {
    color: #ccc;
}

.bg-gradient .area-title h2 {
    color: #fff;
}
.bg-gradient .area-title p {
    color: #ccc;
}

/*area-title end*/

/*content-title start*/
h2.content-title {
    font-size: 45px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #fff;

    /*background: linear-gradient(to right, #4432c8 0%, #1fb592 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;*/
}
/*content-title end*/

/* btn default start */
.btn {
    -moz-user-select: none;
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    color: #395BC4;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
    padding: 13px 25px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}

.btn:hover {}

/* btn default end */

/*btn-box start*/
.btn-box {
    background-color: #fff;
    color: #000;
    padding: 16px 28px;
    border-radius: 3px;
    font-weight: 600;
    text-transform: none;
    font-size: 15px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn-box i {
    margin-right: 10px;
}

.btn-box:hover {
    background-color: #FFB329;
    color: #f1f1f1;
}
/*btn-box end*/

/*btn-inline start*/
.btn-inline {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    color: #395BC4;
    font-size: 16px;
    display: inline-block;
    font-weight: 700;
    border-bottom: 1px solid;
}

.btn-inline i {
    margin-left: 5px;
    color: #FF4181;
    font-size: 12px;
}

.btn-inline:hover {}

/*btn-inline end*/




/*social color start*/
/*
.social-links li a.facebook{
	color: #3b5999;
	background-color: ;
}
.social-links li a.twitter{
	color: #55acee;
	background-color: ;
}
.social-links li a.linkedin{
	color: #0077B5;
	background-color: ;
}
.social-links li a.pinterest{
	color: #bd081c;
	background-color: ;
}
*/
/*social color end*/

.section-circle-left {
    position: absolute;
    left: -42%;
    top: 50%;
    width: 90%;
    padding-bottom: 90%;
    border-radius: 100%;
    background-color: hsla(0, 0%, 100%, 0.1);
}
.section-circle-right {
    position: absolute;
    right: -8%;
    bottom: 60%;
    width: 30%;
    padding-bottom: 30%;
    border-radius: 100%;
    background-color: hsla(0, 0%, 100%, 0.1);
}
/* 1. Base css end */

/*header-area start*/
.header-area {
    background-color: #000046;
    padding: 20px 0;
    transition: 0.4s;
}

.logo {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.main-menu > ul > li {
    display: inline-block; 
}
.main-menu > ul > li > a {
    display: block;
    padding: 15px 25px;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
}
.main-menu > ul > li:last-child > a {
    padding-right: 0;
}
.main-menu > ul > li > a:hover, 
.main-menu > ul > li > a.active {
    color: #00cdb9;
}

.mean-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 15px;
    z-index: 4;
}

.mean-container a.meanmenu-reveal span {
    background: #fff none repeat scroll 0 0;
}

.mean-container a.meanmenu-reveal {
    margin-top: -50px;
    color: #fff;
    border-color: #fff;
}

.mean-container .mean-nav {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.mean-container .mean-nav ul li a {
    color: #101010;
    border-top: 1px solid #e5e5e5;
}
.mean-container .mean-nav ul li a:hover {
    color: #000;
    padding-left: 40px;
}
.header-sticky {
    position: fixed;
    background: #000046;
    transition: 0.4s;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    padding: 15px 0;
    z-index: 3;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
}
/*header-area end*/

/*hero-area start*/
.hero-area {
    height: 900px;
    width: 100%;
    color: #fff;
    background-color: transparent;
    position: relative;
}
.hero-area:before {
    opacity: .85;
}
.hero-text h2 {
    color: #fff;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.25;
}
.hero-text p {
    font-weight: 200;
    margin-bottom: 30px;
    line-height: 2;
}
.hero-btn {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #fff;
    color: #000;
    padding: 18px 23px;
    cursor: pointer;
    display: inline-block;
    border-radius: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.hero-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: #042c5c;
    z-index: -1;
    transition: 0.4s;
}
.hero-btn:hover {
    color: #fff;
    background-color: #fff;
}
.hero-btn:hover:after {
    width: 100%;
}
.hero-image-wrap img {
    margin-left: 30px;
}




.intro-video {
    position: relative;
    margin-top: -50px;
}

.play-btn {
  display: inline-block;
  position: relative;
}
.play-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 15px;
  color: #7202bb;
  z-index: 1;
}
.play-btn:hover .play-icon {
    color: #042c5c;
}
.play-icon::before,
.play-icon::after {
  content: "";
  display: block;
  position: absolute;
  border: 15px solid transparent;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: animate 1.7s linear infinite;
  backface-visibility: hidden;
  transition: 0.6s;
  
}
/*.play-icon::after {
  animation-delay: 3s;
  display: none;
}*/
.play-icon i {
  padding-left: 3px;
}
@keyframes animate  {
  0% {
    transform: scale(1);
    opacity: 0;
    border-color: #fff;
  }
  50% {
    opacity: .15;
    border-color: #fff;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
    border-color: #fff;
  }
}
.play-btn:hover .play-icon::before,
.play-btn:hover .play-icon::after {
  -webkit-animation: none;
  animation: none;
}


.wave-bottom {
    z-index: 1;
    position: absolute;
    bottom: 0; 
    margin-bottom: -38px;
    width: 100%;
    left: 0;
}

/*hero-area end*/


.what-we-do-area {
    background-color: #F4F5F9;
}
.what-we-de-area .row {
    margin: 0 -5px;
}
.single-wwd {
    margin: 15px 5px;
    margin-top: -90px;
    position: relative;
    background-color: #fff;
    z-index: 2;
    padding: 100px 40px 60px;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-align: justify;
    position: relative;
    border-top: 3px solid #4353E4;
    border-bottom: 3px solid #4353E4;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.what-we-do-area div[class^=col-]:nth-child(2) .single-wwd {
    border-top: 3px solid #E5A943;
    border-bottom: 3px solid #E5A943;
}

.what-we-do-area div[class^=col-]:nth-child(3) .single-wwd {
    border-top: 3px solid #43E47E;
    border-bottom: 3px solid #43E47E;
}

.wwd-icon {
    color: #4353E4;
    font-size: 40px;
    margin-bottom: 20px;
}

.what-we-do-area div[class^=col-]:nth-child(2) .wwd-icon {
    color: #E5A943;
}

.what-we-do-area div[class^=col-]:nth-child(3) .wwd-icon {
    color: #43E47E;
}

.single-wwd h4 {
    font-size: 25px;
}

.single-wwd p {
    margin-bottom: 0;
}

.wwd-tag {
    display: inline-block;
    background-color: transparent;
    color: #4353E4;
    border: 1px solid;
    padding: 8px 15px;
    line-height: 1;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 600;
    position: absolute;
    right: 40px;
    /*transform: translateX(-50%);*/
    top: 40px;
}

.what-we-do-area div[class^=col-]:nth-child(2) .wwd-tag {
    border-color: #E5A943;
    color: #E5A943;
}

.what-we-do-area div[class^=col-]:nth-child(3) .wwd-tag {
    border-color: #43E47E;
    color: #43E47E;
}

.single-counter {
    margin-left: 30px;
    margin-bottom: 15px;
}
.single-counter h5 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 0;
    letter-spacing: 0;
    color: #682ccb;
    width: 200px;
    display: inline-block;
    height: 200px;
    background: #000046;
    background-image: radial-gradient(#000046, #000);
    color: #fff;
    line-height: 200px;
    text-align: center;
    border-radius: 50%;
}

.single-counter p {
    font-size: 17px;
    color: #656565;
}

.feature-content {
    font-size: 16px;
    line-height: 2;
}
.feature-content p {
    margin-bottom: 35px;
    color: #ccc;
}
.feature-content .app-btn {
    margin-right: 15px;
    display: inline-block;
}


.feature-1 .feature-image-wrap,
.feature-3 .feature-image-wrap {
    margin-right: 15px;
}
.feature-1 .feature-content,
.feature-3 .feature-content {
    margin-left: 15px;
}
.feature-2 .feature-image-wrap {
    margin-left: 15px;
    text-align: right;
}
.feature-2 .feature-content {
    margin-right: 15px;
}


@media (max-width: 991px) {
    .ro2 {
        order: 2;
    }
    .feature-1 .feature-content,
    .feature-3 .feature-content {
        margin-left: 0;
        margin-bottom: 50px;
    }
    .feature-1 .feature-image-wrap,
    .feature-3 .feature-image-wrap {
        margin-right: 0;
        text-align: center;
    }
    .feature-2 .feature-content {
        margin-right: 0;
        margin-bottom: 50px;
    }
    .feature-2 .feature-image-wrap {
        margin-left: 0;
        text-align: center;
    }
}


.testimonial-area {
    overflow: hidden;
    position: relative;
    height: 560px;
}

.single-testimonial {
    position: relative;
    padding-top: 120px;
    /*padding-left: 110px;*/
}

.testimonial-client {
    margin-bottom: 25px;
    padding-top: 15px;
    padding-left: 105px;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-client-image {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial-client-image img {
    width: 80px;
    height: auto;
}

.testimonial-client-info h5 {
    margin-bottom: 1px;
    font-weight: 700;
    font-size: 22px;
    color: #00003B;
}

.testimonial-client-info span {
    color: #848484;
    font-weight: 300;
}

.testimonial-contet p {
    margin-bottom: 0;
    text-align: center;
}




.client-rating li {
    display: inline-block;
    margin-right: 3px;
    color: #00cdb9;
}
.client-rating li.disable {
    color: #ccc;
    opacity: .5;
}
.quote-icon {
    position: absolute;
    top: calc(50% + 15px);
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 120px;
    opacity: .15;
}

.testimonial-carousel .owl-dots {
    text-align: center;
    margin-top: -15px;
    position: relative;
}
.testimonial-carousel .owl-dots div {
    display: inline-block;
    width: 10px;
    height: 10px;
    /*margin-left: 7px;*/
    margin: 0 3px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff; 
}
.testimonial-carousel .owl-dots div.active {
    background-color: #fff;
}

.single-pricing-table {
    margin: 15px 0;
    padding: 40px 30px 50px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.20);
}
.pricing-heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 50px;
}


.pricing-title {
    color: #00CDB9;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.pricing-fee {
    /* color: #1fb592; */
    margin-bottom: 0;
}

.pricing-fee span {
    display: block;
    margin-top: 15px;
    color: #777;
    font-size: 15px;
    font-weight: 400;
}


.pricing-list {
    margin-bottom: 50px;
}
.pricing-list li {
    margin-bottom: 18px;
    color: #696687;
}





.btn-box.pricing-btn {
    background-color: #000046;
    color: #fff;
    padding: 12px 34px;
}
.pricing-btn:hover {
    background-color: #000;
    color: #fff;   
}



.single-partner {
    text-align: center;
}
.single-partner img {
    width: auto !important;
    height: 33px !important;
    margin: 0 auto;
    opacity: 0.4;
}
































.single-team-member {
    box-shadow: 0px 20px 40px rgba(35, 38, 125, 0.1);
    position: relative;
}

.member-image-wrap {
    overflow: hidden;
}

.member-image-wrap img {
    width: 100%;
    transition: 0.6s;
}

.single-team-member:hover .member-image-wrap img {
    transform: scale(1.12);
}

.member-info {
    background-color: #fff;
    padding: 30px 30px 32px;
    text-align: center;
}

/*.single-team-member:hover .member-info {
    margin-top: -30px;
    padding-bottom: 50px;
}*/

.member-info h4 {
    margin-bottom: 5px;
}

.member-info p {
    margin-bottom: 0;
    color: #777;
}

.member-social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
    width: 100%;
}

.member-social a {
    display: inline-block;
    margin: 0 3px;
    color: #fff;
    width: 36px;
    height: 36px;
    line-height: 38px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #000046;
    text-align: center;
}
.member-social a:hover {
    background-color: #000;
    color: #fff;
}

/*.member-social a {
    display: inline-block;
    margin: 0 7px;
    color: #bbb;
    width: 15px;
    font-size: 20px;
    text-align: center;
}*/

/*.member-social a.facebook {
    color: #3b5999;
}

.member-social a.twitter {
    color: #55acee;
}

.member-social a.linkedin {
    color: #0077B5;
}*/



















































/*.footer-area {
    position: relative;
    overflow: hidden;
}
.footer-top {
    padding-top: 120px;
    padding-bottom: 80px;
    color: #fff;
}

.footer-top a {
    margin-left: 15px;
}

.footer-bottom {
    color: #fff;
}

.footer-bottom .row {
    margin: 0 0;
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.footer-bottom a {
    color: #ccc;
}

.footer-bottom-links a {
    margin-left: 30px;
    color: #fff;
}*/


.footer-area {
    color: #fff;
    position: relative;
    padding-top: 150px;
    padding-bottom: 110px;
    overflow: hidden;
    z-index: 1;
}

.footer-logo {
    margin-bottom: 25px;
}

.footer-social {
    margin-bottom: 17px;
}

.footer-social ul li {
    display: inline-block;
}

.footer-social ul li a {
    margin: 0 7px;
    color: #fff;
    font-size: 14px;
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
}

.footer-social ul li a:hover {
    background-color: #fff;
    color: #37d5a8;
    border-color: #fff;
}

.copyright-text p {
    font-size: 16px;
}
.copyright-text p a:hover {
    color: #ccc;
    text-decoration: underline;
}


















/*body-preloader start*/
.body-preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}
.body-preloader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -20px;
}
.spinner {
  margin: 100px auto 0;
  width: 100px;
  text-align: center;
}
.spinner > div {
  width: 25px;
  height: 25px;
  background-color: #3264f5;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner > div:nth-child(2) {
    background-color: #682ccb;
}
.spinner > div:nth-child(3) {
    background-color: #7202bb;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/*body-preloader end*/
